.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}

.navbar .nav-logo{
    width: 160px;
    height: 80px;
    object-fit: contain;
    display: block;
    transform: scale(2.3);     
  }
.nav-menu{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    align-items: center;
}
.nav-connect{
    padding: 15px 30px;
    border-radius: 50px;
    background:linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-open{
    display: none;
}
.nav-mob-close{
    display: none;
}
@media(max-width: 481px){
    .navbar{
        margin: 20px 50px;
        container-type: inline-size;
    }
    .navbar .nav-logo{
        width:23cqw;
        padding-left: 3%;
      }
    .nav-connect{
        display: none;;
    }
    .nav-mob-open{
        width:9cqw;
        display: block;
        position: fixed;
        right: 30px;
        cursor: pointer;
    }
    .nav-mob-close{
        position: relative;
        display: block;
        top: 30px;
        left: 80%;
        width: 10cqw;
        cursor: pointer;

    }
    .nav-menu{
        position: fixed;
        top: 0;
        height: 100%;
        width: 50vw;
        background-color: #1f0016;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        z-index: 2;
        transition: right 0.3s;
        right: -250px;
        container-type: inline-size;
    }
    .nav-menu li{
        font-size: 10cqw;
        padding-left: 16%;
        flex-direction: row;
        gap: 10px;
    }
    .nav-menu li img{
        width: 18cqw;
    }
}
@media(min-width: 481px) and (max-width: 768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        cursor: pointer;
    }
    .nav-mob-close{
        position: relative;
        display: block;
        top: 30px;
        left: 80%;
        width: 30px;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        top: 0;
        height: 100%;
        width: 50vw;
        background-color: #1f0016;
        flex-direction: column;
        align-items: start;
        gap: 4.7%;
        z-index: 2;
        transition: right 0.3s;
        right: -350px;
        container-type: inline-size;
    }
    .nav-menu li{
        font-size: 8.5cqw;
        padding-left: 16%;
        flex-direction: row;
        gap: 20px;
    }
}
@media (min-width: 768px) and(min-width: 1024px){

}